<div class="row"><br>
 <h2><b>Student Details</b> </h2>
    <div class="col-lg-6">
    <h3><b>Student Name:</b></h3>
    </div>
    <div class="col-lg-4">
      <h3><b> {{studentDetails.firstName}}    {{studentDetails.lastName}}</b> </h3> 
    </div>
</div>
  <div class="row">
    <div class="col-lg-6">
       <h3><b>Level:</b></h3> 
    </div>
    <div class="col-lg-4"  >
       <h3><b>{{studentDetails.level}}</b> </h3>  
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
       <h3><b> Reg Number:</b></h3>
    </div>
    <div class="col-lg-4">
       <h3><b>{{studentDetails.id}}</b> </h3> 
    </div>

    <div class="row">
        <div class="col-lg-6">
           <h3><b> Gender:</b></h3>
        </div>
        <div class="col-lg-4">
           <h3><b>{{studentDetails.gender}} </b> </h3> 
        </div>
  </div>

